# 아래 규칙이 우선합니다
/api/                 @F3ZLoV
/api/reservation/     @Asirante
/api/seat/            @Asirante
/web/                 @F3ZLoV
/infra/               @F3ZLoV
/load-test/           @Asirante
/.github/             @F3ZLoV
/docs/                @Asirante @F3ZLoV
